.login-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  margin: auto;
  /* border: 2px solid red; */
}

@media screen and (min-width: 992px) {
  .login-form-container {
    flex-direction: row;
    justify-content: flex-start;
  }
}

.login-website-logo-mobile-image {
  width: 165px;
  margin-top: 50px;
  margin-bottom: 35px;
  border-radius: 50%;
}
@media screen and (min-width: 992px) {
  .login-website-logo-mobile-image {
    display: none;
    border-radius: none;
  }
}

.login-image {
  min-height: 100vh;
  min-width: 50vw;

  /* border: 2px solid red; */
}
@media screen and (min-width: 992px) {
  .login-image {
    width: 50vw;
    height: 90vh;
  }
}

.form-main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50vw;
  /* border: 2px solid green; */
  height: 100vh;
}
@media screen and (max-width: 991px) {
  .form-main-container {
    width: 100vw;
  }
}

.login-website-logo-desktop-image {
  width: 185px;
}
@media screen and (max-width: 991px) {
  .login-image {
    display: none;
  }
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding: 20px; */
  border-radius: 8px;
  width: 100%;
}

@media screen and (min-width: 992px) {
  .form-container {
    width: 500px;
    /* flex-shrink: 0; */
    box-shadow: 0px 8px 40px rgba(7, 7, 7, 0.08);
    /* padding: 64px 48px 64px 48px; */
    padding-top: 30px;
    padding-bottom: 60px;
    justify-self: center;
    /* border: 2px solid red; */
  }
}

.input-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 80%;
}

.input-label {
  margin-bottom: 0px;
  font-family: 'Roboto';
  font-weight: bold;
  line-height: 16px;
  color: #475569;
}

.input-field {
  font-size: 14px;
  height: 40px;
  border: 1px solid #d7dfe9;
  background-color: #e2e8f0;
  color: #64748b;
  border-radius: 2px;
  margin-top: 5px;
  padding: 8px 16px 8px 16px;
  outline: none;
}

.login-button {
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 14px;
  height: 40px;
  width: 80%;
  margin-top: 20px;
  margin-bottom: 2px;
  background-color: #0b69ff;
  border-radius: 8px;
  color: #ffffff;
  border: none;
  outline: none;
  cursor: pointer;
}

.error-message {
  font-size: 12px;
  font-family: 'Roboto';
  margin-top: 3px;
  margin-bottom: 0px;
  color: #ff0b37;
  line-height: 16px;
  /* margin-left: 50px; */
}
/*.loginbgBig {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightgray;

  margin: 0px;
}
.logoimg {
  height: 100vh;
  width: 100%;
}
.imgdiv {
  height: 100vh;
  width: 50%;

}
.formdiv {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;

}
.formel {
  border-radius: 10px;
  background-color: white;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  padding-bottom: 40px;
  padding-top: 10px;

}
.userinput {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 80%;
 
}
.usertext {
  padding: 10px;
  outline: none;
  border: outset;
  border-radius: 5px;
  width: 90%;
  margin-top: 10px;
}
.labelname {
  font-size: 20px;
  color: gray;
}
.login {
  background-color: #0284c7;
  padding: 10px;
  font-weight: 500;
  color: white;
  font-size: 20px;
  margin-top: 30px;
  border: none;
  border-radius: 5px;
  width: 80%;
  cursor: pointer;
}
.error {
  color: red;
}
.smalllogo {
  height: 150px;
  width: 150px;
}
.loginbgSmall {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}
.formdivSmall {

  width: 90%;
}
.formelSmall {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
}
.userinputSmall {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-top: 10px;
}
.usertextSmall {
  padding: 8px;
  outline: none;
  border: outset;
  border-radius: 5px;
  width: 90%;
  margin-top: 10px;
}
.loginSmall {
  background-color: #0284c7;
  padding: 5px;
  font-weight: 500;
  color: white;
  font-size: 20px;
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  width: 90%;
  cursor: pointer;
}
.logoSmall {
  height: 40px;
  width: 150px;
  margin-top: 10px;
}
.errorSmall {
  font-size: 15px;
  line-height: 5px;
  color: red;
}
@media screen and (max-width: 576px) {
  .loginbgBig {
    display: none;
  }
}
@media screen and (min-width: 577px) {
  .loginbgSmall {
    display: none;
  }
} */
